params {
    out_dir = '/home/tmavundla/lustre/basic-submit/out'
    nr_jobs = 4
}

process {
    beforeScript = 'module add chpc/singularity/3.5.3'
    cache = true
    executor = 'local'
    container = '/home/tmavundla/lustre/basic-submit/images/'
    
    withLabel: ubuntu {
        container = '/home/tmavundla/lustre/basic-submit/images/ubuntu_20.04.sif'
    }
    
    singularity.enabled = true
    ncpus = 1
    memory = '2GB'
    time = '1h'
    errorStrategy = 'retry'
    maxRetries = 5
    maxErrors = 1000
}

profiles {
    standard {
        process.executor = 'local'
    }
    ilifu {
        process.executor = 'slurm'
        process.queue = 'Main'
    }
    chpc {
        process.executor = 'pbs'
        process.queue = 'serial'
        process.clusterOptions = '-P CBBI0825 '
    }
}

trace {
    enabled = true
    file = "trace.tsv"
    overwrite = true
}

report {
    enabled = true
    file = "report.html"
    overwrite = true
}

timeline {
    enabled = true
    file = "timeline.html"
    overwrite = true
}

singularity {
    autoMounts = true
    enabled = true
    cacheDir = "${HOME}/.singularity.cache"
}

